@value ovivaMint,ovivaWhite from '../../../common/colors.css';
@value mediaQuerySmall  from '../../../common/size.css';

.intro {
  background-color: ovivaMint;
  display: flex;
  width: 100%;
  color: ovivaWhite;
}

.background_wrap {
  min-width: 50%;
  margin-bottom: 60px;
}

.background {
  padding-left: 20%;
  padding-right: 15%;
}

.greenTangle {
  position: absolute;
  border-top: 800px solid #00b097;
}

.title {
  font-size: 2.813em;
  font-weight: bold;
  line-height: 1.25em;
  padding-bottom: 10px;
  margin-bottom: 0;
}

.desc {
  font-size: 24px;
  font-weight: 300;
  line-height: 1.5em;
  margin-bottom: 0;
}

.img {
  width: 50%;
  height: auto;
}

@media screen and (max-width: mediaQuerySmall) {
  .intro {
    margin-top: 113px;
    flex-direction: column-reverse;
  }

  .background {
    padding: 0 25px;
  }

  .title {
    font-size: 2.25em;
  }

  .img {
    width: 100%;
    height: auto;
  }
}
