@value ovivaMint from '../../../common/colors.css';
@value mediaQuerySmall  from '../../../common/size.css';

.ask {
  background-color: #d1ede9;
  padding: 30px 94px 62px 94px;
}

.title {
  font-family: "Helvetica Neue";
  margin-top: 32px;
  margin-bottom: 0;
  color: ovivaMint;
  font-weight: bold;
  font-size: 2.5em;
  line-height: 1.3em;
}

@media screen and (max-width: mediaQuerySmall) {
  .ask {
    padding: 30px 48px 60px 48px;
  }
}
