@value ovivaLightGrey,ovivaGrey,ovivaMint,ovivaWhite,ovivaDarkBlue from '../../common/colors.css';

.main {
  width: 100%;
}

.intro {
  background-color: ovivaMint;
  display: flex;
  width: 100%;
  color: ovivaWhite;
}

.intro__background_wrap {
  min-width: 50%;
  margin-bottom: 60px;
}

.intro__background {
  padding-left: 20%;
  padding-right: 15%;
}

.intro__title {
  font-size: 2.813em;
  font-weight: bold;
  line-height: 1.25em;
  padding-bottom: 10px;
  margin-bottom: 0;
}

.intro__desc {
  font-size: 24px;
  font-weight: 300;
  line-height: 1.5em;
  margin-bottom: 0;
}

.intro__img {
  width: 50%;
}

.works {
  display: flex;
  padding: 60px 0;
  background-color: #c8eae5;
}

.works__wrap_img,
.works__wrap_text {
  width: 50%;
}

.works__wrap_img {
  text-align: center;
}

.works__wrap_text {
  color: ovivaDarkBlue;
}

.works__title {
  font-size: 2.8em;
  line-height: 1.3em;
  font-weight: bold;
  max-width: 600px;
  padding-bottom: 20px;
  margin-bottom: 0;
}

.works__desc {
  max-width: 90%;
  font-weight: 100;
  font-size: 1.125em;
  margin-top: 0;
}

.review {
  display: grid;
  grid-template-columns: 50% 50%;
}

.review__img_wrap {
  padding-right: 70px;
}

.review__img {
  width: 100%;
}

.review__text_wrap {
  max-width: 600px;
  padding-top: 130px;
}

.review__title {
  color: ovivaMint;
  font-size: 2.125em;
  padding-bottom: 20px;
  margin: 0 0 10px;
}

.review__text {
  color: ovivaGrey;
  font-size: 1em;
  font-weight: 820;
  line-height: 1.3em;
}

.review__bio {
  color: ovivaGrey;
  font-size: 1em;
  font-weight: 700;
  line-height: 1.3em;
}

.location {
  display: grid;
  grid-template-columns: 50% 50%;
  background-color: #edf0f3;
}

.location__img_wrap {
  padding: 50px;
}

.location__img {
  width: 100%;
}

.location__text_wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.location__title {
  font-size: 2.8em;
  color: ovivaMint;
  margin-top: 20px;
  margin-bottom: 0;
  padding-bottom: 20px;
}

.location__text {
  font-family: "Helvetica Neue Light";
  font-weight: 300;
  font-size: 1.125em;
  margin-top: 0;
  padding-bottom: 30px;
  color: ovivaDarkBlue;
  max-width: 90%;
}

.location__text2 {
  font-family: "Helvetica Neue Light";
  font-weight: 300;
  font-size: 1.125em;
  margin-top: 0;
  padding-bottom: 30px;
  color: ovivaDarkBlue;
  max-width: 90%;
  margin-bottom: 0;
}

.special {
  width: 70%;
  margin: auto;
  padding: 100px 0;
}

.special__title {
  font-size: 2.8125em;
  line-height: 1.3em;
  text-align: center;
  font-weight: bold;
  color: ovivaMint;
  margin: 20px 0 0 0;
  padding-bottom: 70px;
}

.special__img_wrap {
  display: flex;
  justify-content: space-center;
}

.special__imgs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-left: 15px;
  padding-right: 15px;
  width: 100%;
}

.special__img {
  max-height: 110px;
}

.special__text {
  font-family: "Helvetica Neue Light";
  font-size: 1.125em;
  padding-top: 22px;
  padding-bottom: 70px;
  max-width: 300px;
  margin: 0 auto;
  text-align: center;
}

.app {
  background-color: ovivaMint;
  display: flex;
  justify-content: center;
}

.app__img_wrap {
  width: 50%;
  padding: 50px;
  text-align: center;
}

.app__text_wrap {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: ovivaWhite;
}

.app__title {
  font-size: 2.8125em;
  margin: 20px 0;
}

.app__text {
  font-size: 1.125em;
  margin: 20px 0;
}

.app__text2 {
  max-width: 90%;
  font-family: "Helvetica Neue Light";
  font-weight: 300;
  font-size: 1.125em;
  margin: 0;
  padding-bottom: 30px;
}

.ask {
  background-color: #d1ede9;
  padding: 30px 94px 62px 94px;
}

.ask__title {
  font-family: "Helvetica Neue";
  margin-top: 32px;
  margin-bottom: 0;
  color: ovivaMint;
  font-weight: bold;
  font-size: 2.5em;
  line-height: 1.3em;
}
