@value ovivaLightGrey,ovivaGrey,ovivaMint,ovivaWhite from '../../common/colors.css';
@value mediaQueryMedium,mediaQuerySmall  from '../../common/size.css';

.nav {
  position: fixed;
  z-index: 1;
  width: 100%;
  margin: 0 auto;
  background-color: ovivaWhite;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  margin: auto;
  padding: 32px 15px 30px 15px;
}

.logo_img {
  max-height: 60px;
  max-width: 153px;
}

.menu {
  display: flex;
  justify-content: center;
  font-size: 0.875em;
  font-weight: 700;
  color: ovivaLightGrey;
}

.menu li {
  padding: 0 1.25em;
}
.menu li span {
  font-size: 0.5em;
  margin-left: 0.375em;
}

.sub_title:hover {
  color: ovivaMint;
}

.menu > li:hover .sub_menu {
  display: block;
}

.sub_menu {
  display: none;
  transform: translate(0, 10px);
  transition: opacity 200ms ease-in, transform 200ms ease-in, visibility 200ms ease-in;
  z-index: 1;
  position: absolute;
  width: 200px;
  padding: 0;
  background-color: #f1f1f1;
  text-align: center;
  line-height: 3;
  min-height: auto;
  color: ovivaLightGrey;
}

.sub_menu li:hover {
  color: ovivaLightGrey;
  background-color: #dadada;
  cursor: pointer;
}

.search_box {
  border: 1px solid ovivaLightGrey;
  display: flex;
  align-items: center;
  padding: 6px 12px 6px 0px;
  width: 250px;
}

.search_icon {
  padding: 3px;
}

.search_input {
  border: none;
}

.search_input:focus-visible {
  outline: none;
}

.search_input::placeholder {
  color: ovivaLightGrey;
}

.toggle_btn {
  display: none;
}

@media screen and (max-width: mediaQueryMedium) {
  .container {
    width: 750px;
    justify-content: space-between;
    align-items: flex-start;
  }

  .menu {
    flex-direction: column;
    display: none;
    margin: 0;
    width: 390px;
    transition: 0;
  }

  .menu.open {
    display: block;
  }

  .menu.close {
    display: none;
  }

  .menu > li {
    display: list-item;
    border-radius: 0;
    border: 0;
    margin: 0;
    line-height: 40px;
    padding: 0 10px;
    background: transparent;
    text-align: left;
    color: #646872;
    font-size: 0.875em;
  }

  .sub_menu {
    position: static;
    width: 100%;
    padding: 0;
    border: 0;
    border-radius: 0;
    z-index: unset;
    transform: none;
    transition: none;
    display: none;
  }

  .sub_menu li {
    position: static;
    z-index: unset;
  }

  .toggle_btn {
    display: block;
    border: none;
    background-color: transparent;
    top: 16px;
    right: 16px;
    font-size: 2em;
    margin-left: 23rem;
  }

  .search_box {
    width: 150px;
    margin: 0 15px;
  }
}

@media screen and (max-width: mediaQuerySmall) {
  .container {
    width: auto;
    flex-direction: column;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
  }

  .logo_img {
    width: 100%;
    max-width: 125px;
  }

  .toggle_wrap {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    position: absolute;
    left: 0;
    z-index: 2;
  }

  .toggle_btn {
    margin: 0;
  }

  .search_box {
    width: 90%;
    margin: auto;
    margin-top: 30px;
  }

  .menu {
    margin-top: 14px;
    padding: 0 15px;
  }

  .sub_title span {
    text-align: right;
  }

  .sub_menu {
    display: block;
    background-color: transparent;
    text-align: left;
  }
}
